/* Color Pallete */
:root{
    --blue: #2a7bb0;
}

html , body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#screen{
    height: 100%;
    width: 100%;
}

#navigation{
    width: 100%;
    height: 5.47%;
    background-color: var(--blue);
    position: relative;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    padding-bottom: 18px;
}

#MenuIcon{
    position:absolute;
}